img {
  position: absolute;
}
#game {
  width: 1000px;
  height: 600px;
  border: 2px solid black;
  border-radius: 5px;
  background-image: url("../img/background.png");
}
#logbox {
  margin-top: 10px;
  border: 2px solid black;
  width: 960px;
  height: 200px;
  padding: 20px;
  font-family: monospace;
  word-wrap: break-word;
  overflow-y: auto;
  border-radius: 5px;
}
